{% load static %}

<!-- templates/layout/body.html -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/img_sitio/iphone14promax.jpg' %}" class="d-block w-100" alt="Slide 1">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/img_sitio/macbook.jpg' %}" class="d-block w-100" alt="Slide 2">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/img_sitio/homepod.jpeg' %}" class="d-block w-100" alt="Slide 3">
        </div>
        <!-- Agrega más imágenes de carrusel si es necesario -->
    </div>
</div>
<div>
    <center><p>PROMOCIONES EN LINEA</p></center>
</div>
