<!-- TiendaOnline/templates/layout/navbar.html -->

<nav class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="#"><i class="fa-solid fa-cart-shopping" style="color: #4c4c55;"></i></i></a>
    </div>

    <div id="busquedas">
        <form class="container-fluid">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar">
                <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-magnifying-glass" style="color: #1f2123;"></i></span>
            </div>
        </form>
    </div>

    <div class="navbar-nav ml-auto">
        <!-- Botones de Iniciar sesión y Registrarse -->
        <!-- <a class="nav-item nav-link btn btn-outline-primary mx-2" href="#">Iniciar sesión</a> -->
        <button type="button" class="btn mx-2" id="btn01" href="#">Iniciar sesión</button>
        <button type="button" class="btn mx-2 my-0" id="btn02" href="#">Registrarse</button>
    </div>
</nav>

<!-- Segunda fila del navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
    <!-- Opciones en la parte izquierda -->
    <ul class="navbar-nav mr-auto"> <!-- Cambiar ml-auto a mr-auto -->
        <li class="nav-item">
            <a class="nav-link" href="#">INICIO</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="ofertasDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                OFERTAS
            </a>
            <div class="dropdown-menu" aria-labelledby="ofertasDropdown">
                <!-- Contenido del dropdown de OFERTAS -->
                <!-- Puedes agregar más elementos aquí -->
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="computoDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                COMPUTO
            </a>
            <div class="dropdown-menu" aria-labelledby="computoDropdown">
                <!-- Contenido del dropdown de COMPUTO -->
                <!-- Puedes agregar más elementos aquí -->
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="electronicaDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                ELECTRONICA
            </a>
            <div class="dropdown-menu" aria-labelledby="electronicaDropdown">
                <!-- Puedes agregar más elementos aquí -->
                <a class="dropdown-item" href="#">Cocina</a>
                <a class="dropdown-item" href="#">horno/microondas</a>
                <a class="dropdown-item" href="#">lavadora/lavarropas</a>
                <a class="dropdown-item" href="#">lavaplatos/lavavajillas</a>
                <a class="dropdown-item" href="#">refrigerador/nevera/heladera y congelador</a>
                <a class="dropdown-item" href="#">campana extractora</a>
                <a class="dropdown-item" href="#">secadora/secarropas</a>
            </div>
        </li>
    </ul>
</nav>