<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img class="logo horizontal-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ9NlWkX0mai-iIMOqF0MOqqpTZ_db4341JA&usqp=CAU" alt="forecastr logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">INICIO</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            OFERTAS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" href="#">Liquidacion</a>
              <a class="dropdown-item" href="#">Descuentos</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Productos destacados  </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           COMPUTO
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
              <a class="dropdown-item" href="#">Accesorios para Computadoras</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Teclados</a>
              <a class="dropdown-item" href="#">Mouse</a>
              <a class="dropdown-item" href="#">Bocinas</a>
              <a class="dropdown-item" href="#">Audifonos</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ELECTRONICA
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
              <a class="dropdown-item" href="#">Electrodomesticos</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Cocina</a>
              <a class="dropdown-item" href="#">horno/microondas</a>
              <a class="dropdown-item" href="#">lavadora/lavarropas</a>
              <a class="dropdown-item" href="#">lavaplatos/lavavajillas</a>
              <a class="dropdown-item" href="#">refrigerador/nevera/heladera y congelador</a>
              <a class="dropdown-item" href="#">campana extractora</a>
              <a class="dropdown-item" href="#">secadora/secarropas</a>
            </div>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>

</div>