#busquedas {    
    box-sizing: content-box;
    width: 100%;
    padding-top: 5px;
    width: 600px;
}

#btn01,#btn02{
    background-color: rgb(231, 230, 231);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.user{
    display: flex;
    flex-direction: column;
}

.icon01{
    height: 75px;
    width: 100%;
}

.textcuenta {
    text-align: center; /* Centrar el texto horizontalmente */
    font-weight: bold; /* Aplicar negrita al texto */
}

/* styles.css o tu archivo CSS personalizado */

.fa-cart-shopping {
    color: #4c4c55;
    font-size: 24px; /* Ajusta el tamaño del ícono según tus necesidades */
}

.icon02{
    height: 50px;
    width: 100%;
}

/* styles.css o tu archivo CSS personalizado */

.footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
}

/* styles.css o tu archivo CSS personalizado */

body {
    margin: 0; /* Asegura que no haya margen alrededor del video */
    overflow:scroll; /* Evita el desbordamiento del video fuera del cuerpo de la página */
}

.video-overlay {
    position:static;
    top: 0;
    left: 0;
    width: 600px;
    height: 200px;
    z-index: -1; /* Coloca el video detrás del contenido principal */
}